include ./head.pug

style
    include ../static/styles/animations.css

.hero.fade-in.long(style='text-align:center')
    div.banner-container
        img.logo.zoom-out(src='img/banner.png')
    .tagline Practo Sandbox 6 Contact Us
      div.rules
        br
        a(href="https://join.slack.com/t/practosandbox/shared_invite/enQtMjc3MDA3OTcxMTEwLWY3NjhkNTBhNzZmYTE1ZWJjZGQxYWM4ODkyNWZkNTM0MjllMTQ2ODkyYTkzZDRlNGMzYzg3MTg2NDg1MzY1MzY") Slack Link
        span &nbsp; click the link to join slack and chat with us. you can either ask your queries on #general channel or DM the handle @dd.
        br
        span Join the slack group to see what's cooking. Other developers are also here. We @ Practo would love to share ideas and thoughts about projects.
        br
        br
        span alternatively you can drop a mail to 
          a(href="mailto:dd@practo.com") debarko@practo.com

include ./menu-band.pug

style
    include ../static/styles/home.css

include ./common-styles.pug
