include ./head.pug

style
    include ../static/styles/animations.css

.hero.fade-in.long(style='text-align:center')
    img.logo.zoom-out(src='img/logo.png')
    .tagline Practo Sandbox 6 Rules &amp; Regulations
      div
        a(href="https://join.slack.com/t/practosandbox/shared_invite/enQtMjc3MDA3OTcxMTEwLWY3NjhkNTBhNzZmYTE1ZWJjZGQxYWM4ODkyNWZkNTM0MjllMTQ2ODkyYTkzZDRlNGMzYzg3MTg2NDg1MzY1MzY") Slack Link
        span &nbsp; click the link to join slack and chat with us. you can either ask your queries on #general channel or DM the handle @dd.
        br
        br
        span alternatively you can drop a mail to 
          a(href="mailto:dd@practo.com") dd@practo.com

include ./menu-band.pug

style
    include ../static/styles/home.css

include ./common-styles.pug
