html
    head
        title='Practo Sandbox 6 - Hackathon'
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(property='og:title' content='Practo Sandbox 6 - Hackathon')
        meta(property='og:description' content='Practo Sandbox is a hackathon for makers. We invite one and all. Register and wait for the invite.')
        meta(property='og:image' content='http://sandbox.practodev.com/img/logo.png')
        meta(name='theme-color' content='#EFEFEF')

        link(rel='icon', type='image/x-icon', href='img/favicon.ico')

        link(rel='stylesheet',
        href='https://www.practostatic.com/fonts/camphor/c96be38e-ea64-418f-ae54-e757ed92b069.woff2')
        script(src='//platform-api.sharethis.com/js/sharethis.js#property=5a2072e21b11810013587655&product=sticky-share-buttons')
