include ./head.pug

style
    include ../static/styles/animations.css

.hero.fade-in(style='text-align:center')
    div.banner-container
        img.logo.zoom-out(src='img/banner.png')
    .tagline Sandbox is a hackathon for makers
    .register
        a.button.yes(href='https://github.com/login/oauth/authorize?scope=user:email&client_id='+ client_id) enter with github
    .description Have fun while building your ideas and win great prizes! End the year with a BANG!

.band
    a(href="./") Home | 
    a(href="./rules") Rules | 
    a(href="./judging") Judging | 
    a(href="./terms") Terms | 
    a(href="./schedule") Schedule | 
    a(href="./contact") Contact
    span.date Dec 16 - 17, 2017
    span.location
        a.location(href='https://goo.gl/maps/Y98PRUFiaou') Practo

#photos-container
    .photos
    a.play(
        href='http://www.youtube.com/embed/Ysui45wyxeM?rel=0&autoplay=1',
        target='blank')
        img#play-button(src='./img/play.png')

style
    include ../static/styles/home.css

include ./common-styles.pug
