.bottom-align.band
    a(href="./") Home | 
    a(href="./rules") Rules | 
    a(href="./judging") Judging | 
    a(href="./terms") Terms | 
    a(href="./schedule") Schedule | 
    a(href="./contact") Contact
    span.date Dec 16 - 17, 2017
    span.location
        a.location(href='https://goo.gl/maps/Y98PRUFiaou') Practo Mars