.bottom-align.band
    a(href="./") Home | 
    a(href="./rules") Rules | 
    a(href="./judging") Judging Criterion | 
    a(href="./terms") Terms &amp; Conditions | 
    a(href="./contact") Contact Us
    span.date Dec 16 - 17, 2017
    span.location
        a.location(href='https://goo.gl/maps/Y98PRUFiaou') Practo Mars Building