include ./head.pug

style
    include ../static/styles/animations.css

.hero.fade-in.long(style='text-align:center')
    div.banner-container
        img.logo.zoom-out(src='img/banner.png')
    .tagline Practo Sandbox 6 Schedule

    div.rules
      span
        strong 16th Jan Saturday
      ul
        li 10.30am --- Check-in opens
        li 11.30am --- Practo Sandbox 6 Launch
        li 12.30pm --- Lunch
        li 05.00pm --- Snacks
        li 07.30pm --- Dinner
      span
        strong 21st Jan Saturday
      ul
        li 01.00am --- Midnight snacks
        li 07.00am --- Breakfast
        li 12.00pm --- Lunch
        li 03.00pm --- Judging Prelims
        li 05.00pm --- Tea session
        li 05.30pm --- Final judging round
        li 07.30pm --- Declare winners
      div
        span Venue:
        a.location(href='https://goo.gl/maps/Y98PRUFiaou') &nbsp;Practo Mars Building

include ./menu-band.pug

style
    include ../static/styles/home.css

include ./common-styles.pug
