include ./head.pug

style
    include ../static/styles/animations.css

.hero.fade-in.long(style='text-align:center')
    div.banner-container
        img.logo.zoom-out(src='img/banner.png')
    .tagline Practo Sandbox 6 Terms &amp; Conditions

    div.rules
      ul
        li.list-item We reserve the right to reject submissions that do not comply with the letter and spirit of these rules.
        li.list-item You agree to only include code, data, or other materials in a submission for the Practo Sandbox contest that you have the right to use and release consist with these Contest Rules.
        li.list-item All code and data must be available under an appropriately open license that allows reuse, commercial use, remixing and redistribution. As the owner of the code you can fork that code and commercialise if you want, but to be eligible for the competition, the codebase and demonstration submitted must be open sourced. For instance you may choose to submit an incredible dynamic or static data visualisation as your team contribution.
        li.list-item Use of third party tools and APIs under open use license is allowed under the Practo Sandbox Competition rules. If you use such a tool or API in your entry you must note and take responsibility for adhering to the third party terms of service. Competitors must be able to retain IP of created content according to any third party terms of service.
        li.list-item The reason for the open licensing of code and content is because Practo Sandbox is about awesome outcomes that anyone can use and build on. Great innovation comes from building on the greatness of those who came before.
        li.list-item Entrants consent to Practo Sandbox representatives using their name, likeness, image and/or voice in any media for an unlimited period of time, without remuneration, for any publicity and marketing purposes.
        li.list-item Submissions and comments will be posted live, but occasionally they may not make it through our anti-trolling and anti-spamming filters and may need to be moderated manually. We reserve the right to remove or not post any submission that reasonably appears to lieach any of these rules.
        li.list-item The Practo Sandbox team makes no representations or warranties of any kind, expressed or implied, including warranties of accuracy, in regard to any submissions or links published on the Practo Sandbox properties.
        li.list-item Don’t do bad things. This contest has been designed to demonstrate the benefit of technological applications in health sector. Please participate in and engage with the contest in that spirit and in good faith. You must not include submissions that are:
        ul
          li potentially libelous, false, defamatory, privacy invasive or overtly political;
          li material which is potentially confidential, commercially sensitive, or which would cause personal distress or loss;
          li any commercial endorsement, promotion of any product, service, organisation or publication;
          li language which is offensive, obscene or otherwise inappropriate; or
          li misleading, deceptive, violate a third party’s rights or are otherwise contrary to law.
      br
      blockquote Practo Sandbox should be an awesome experience for everyone. Be nice, play fair, or go home.
      br
      span By participating in Practo Sandbox, as an observer or a competitor, you agree to the following:
      ul
        li.list-item
          span
            strong I will treat others with respect
          br
          span I will not abuse, stalk, harass or threaten others. I will not make offensive comments related to gender, sexual orientation, disability, physical appearance, body size, race, or religion. I will not disrupt other people or the event and I will not make inappropriate physical contact or pay unwelcome sexual attention to other participants.
        li.list-item
          span
            strong I will keep it G-rated and be mindful of language
          br
          span I will refrain from swearing, I will not make sexist, racist, or other exclusionary jokes, which may be offensive to those around me. I will behave in a way (only submit competition material) that is suitable for anyone to view, including young children.
        li.list-item
          span
            strong I will respect the venue and equipment
          br
          span I will keep the venue clean and tidy and use the rubbish and recycling bins as appropriate. I will let the organisers know if there are any issues.
        li.list-item
          span
            strong I shall follow the competition rules
          br
          span I will only use authorised materials that I have the right to use and release and will not submit any projects which are potentially libelous, false, defamatory or overtly political or contains material which is potentially confidential, commercially sensitive, or which would cause personal distress or loss. I will check the website and/or discuss with the organisers if at any stage I am unclear on the competition rules.
        li.list-item
          span
            strong I shall look after others and myself
          br
          span I will remember that we are all here to create, not party. If I am under 18, I will ensure my guardian is with me whenever I am at the venue, and if I am the guardian of a participant under 18 I will ensure I keep an eye on them. If I am feeling uncomfortable, am being harassed, notice that someone else is being harassed, or have any other concerns; I will immediately Practo Sandbox Organiser.  
        li.list-item
          span
            strong And remember that the Practo Sandbox crew are in charge and have put a lot of effort into organising a great event
          br
          span I will not do anything to ruin it or engage in any behavior that violates this code of conduct. I understand that the Practo Sandbox organisers may take any action they deem appropriate, including warnings or expulsion from the Practo Sandbox event. I understand that if I am removed from the event due to inappropriate behavior, I will no longer be eligible to compete for Practo Sandbox awards.

include ./menu-band.pug

style
    include ../static/styles/home.css

include ./common-styles.pug
